@media (min-width: 992px) {
    .header {
      animation-name: fondo__abajo;
      animation-duration: 1s;
      animation-iteration-count: initial;
      background: linear-gradient(0deg, #000000, #232222, #151212);
      /* background-size: 400% 400%; */
      /* animation: fondo 15s ease infinite; */
      display: grid;
      grid-template-columns: 0.5fr 1fr 0.5fr;
      grid-template-rows: 1.5fr 1fr 0.5fr 0.1fr;
      grid-template-areas:
        " icono   video  nada"
        " titulo  video  nada"
        "titulo pagina nada "
        "nade nade nade";
      grid-gap: 20px 120px;
      align-items: center;
      margin-bottom: 20px;
      /* place-content: center;   */
  
      /* justify-content: space-between; */
      /* border: 2px solid rgb(255, 0, 0); */
      height: auto;
      /* width: 45%; */
      /* background-color: rgb(0, 0, 0); */
      box-shadow: 0px 0px 50px rgb(0, 0, 0);
    }
    @keyframes fondo__abajo {
      from {
        margin-top: -200%;
      }
      to {
        margin-top: 0%;
      }
    }
  
    @keyframes fondo {
      0% {
        background-position: 50% 0%;
      }
  
      50% {
        background-position: 50% 100%;
      }
  
      100% {
        background-position: 50% 100%;
      }
    }
  
    .icono {
      grid-area: icono;
      /* width: 160px; */
      box-shadow: 0px 0.5px 15px rgba(255, 255, 255, 0.125);
      margin: 0px 150px;
      animation-name: icono;
      animation-duration: 1.5s;
      animation-iteration-count: initial;
    }
    @keyframes icono {
      from {
        /* transform: scale(.5); */
        transform: rotate(360deg);
        /* transform: scale(.0); */
      }
      50% {
        /* transform: scale(.7 ); */
      }
      75% {
        /* transform: rotate(-80deg); */
      }
      to {
        /* transform: scale(1.0 ); */
        transform: rotate(0deg);
      }
    }
    .mensaje__bloque {
      background-color: rgba(255, 68, 0, 0);
      border-radius: 5px;
      margin: 0px 35px;
      text-align: center;
      grid-area: titulo;
    }
  
    .mensaje__titulo {
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 95px;
      animation-name: titulo;
      animation-duration: 1.5s;
      animation-iteration-count: initial;
  
      font-family: "asd";
      text-shadow: 0px 4px rgba(255, 0, 0, 0.582);
    }
  
    @keyframes titulo {
      from {
        margin-left: -350%;
      }
      to {
        margin-left: 0%;
      }
    }
  
    .video__video {
      grid-area: video;
      width: auto;
      align-items: center;
      /* background-color: rgba(0, 0, 0, 0.829); */
      border-radius: 5%;
      border: 1px solid white;
      margin-top: 15px;
      box-shadow: 0px 10px rgba(0, 0, 0, 0.652);
      animation-name: video;
      animation-duration: 1.5s;
      animation-iteration-count: initial;
    }
    @keyframes video {
      from {
        margin-top: -250%;
      }
      to {
        margin-top: 15px;
      }
    }
  
    .pagina__bloque__relleno {
      grid-area: pagina;
      background-color: orangered;
      width: auto;
      box-shadow: 0px 5px rgba(0, 0, 0, 0.732);
      height: 100%;
      border-radius: 5px;
      animation-name: pagina__bloque__relleno;
      animation-duration: 1.2s;
      animation-iteration-count: initial;
      animation-delay: 0.3s;
    }
    @keyframes pagina__bloque__relleno {
      from {
        opacity: 0;
      }
      75% {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .pagina__bloque {
      text-align: center;
      grid-area: pagina;
      color: white;
      font-size: 36px;
      z-index: 1;
      font-family: "asd";
      /* background-color: orangered; */
      /* width: auto; */
      animation-name: pagina__bloque;
      animation-duration: 1.2s;
      animation-iteration-count: initial;
    }
    @keyframes pagina__bloque {
      from {
        margin-right: -1000%;
      }
      to {
        margin-right: 0%;
      }
    }
  // ACA ESTA LA LISTA
    .lista__bloque {
      right: 5%;
      top: 5%;
      position: fixed;
      z-index: 2;
  
      /* border: 1px solid white; */
    }
  
    .lista__textos {
      font-family: "asd";
      color: rgb(255, 255, 255);
      padding: 5px 10px;
      list-style: none;
      display: inline-block;
      /* padding-inline-start: 5px 10px; */
      text-decoration: none;
      font-size: 25px;
      text-shadow: 0px 3px rgba(0, 0, 0, 0.712);
      width: auto;
      border-radius: 5%;
      background-color: rgb(255, 11, 11);
      box-shadow: 0px 3px rgba(0, 0, 0, 0.479);
      border-bottom: 1px solid white;
    }
  
    .lista__textos :hover {
      color: orangered;
    }
    /* ANIMACIONES DE LA LISTA DEL HEADER  */
    .lista__inicio {
      animation-name: lista__inicio;
      animation-duration: 0.5s;
      animation-iteration-count: initial;
    }
    @keyframes lista__inicio {
      from {
        margin-top: -2000px;
      }
      to {
        margin-top: 0px;
      }
    }
  
  //   ACA ESTA EL DESPLEGABLE DEL NAV
  .politicas__texto__listas li {
      list-style-type: georgian;
      padding: 5px 15px;
      list-style-position: inside;
    }
  
  .politicas__desplegable {
      display: inline-block;
      position: relative;
    }
    
    .politicas__desplegable__opciones {
      display: none;
      position: absolute;
      width: 100%;
      overflow: auto;
      box-shadow: 0px 10px 10 px 0px black;
    }
    
    .politicas__desplegable:hover .politicas__desplegable__opciones {
      display: block;
    }
  
    
    
    .politicas__desplegable__opciones a {
      display: block;
      color: #000000;
      padding: 5px;
      margin: 5px;
      text-decoration: none;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      text-align: center;
      width: auto;
      font-family: "asd";
    }
    
    .politicas__desplegable__opciones a:hover {
      color: #ffffff;
      background-color: #a5a5a5;
    }
    // ACA ESTA EL FOOTER
.lista__footer {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center;
   margin-top: 20px;
    /* justify-content: space-around; */
  
    /* border: 1px solid white; */
    height: auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    list-style: none;
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
  }
  
  .lista__footer__items {
    font-size: 29px;
    margin: 0px 20px;
    font-family: "asd";
    margin: 1%;
  }
  #footer1 {
    flex: 0 1 auto;
    color: rgb(0, 0, 0);
    margin: 1% 1%;
  }
  #footer2 {
    flex: 1 1 auto;
    
  }
 
  .pie__texto {
    font-family: "asd";
    /* z-index: 2; */
    /* text-align:  justify; */
    font-size: 33px;
    color: rgb(255, 255, 255);
    padding: 3px;
    text-decoration: none;
    text-transform: none;
  }

}
