// navegador
.nav-link{
    font-family: $tefuen-title;
     color: white;
}
// lista dentro de navegador politicas
.dropdown-item{
    font-family: $tefuen-title;
}
// Titulos
h1{
    font-family: $tefuen-title;
}
// Subtitulos
h2{
    font-family: $tefuen-title;
}
// Trabajos
h3{
    font-family: $tefuen-title;
}
// Parrafos 
p{
    font-family: sans-serif;
    font-size: 20px;
}
.borde__icono__playstore h2{
    color: white;
}
.texto__footer{
    
}
.juegos__bloque__texto{
 text-decoration: none ;
 color: black;
 font-size: 16px;   
}