// navegador
.nav-link{
    font-family: $tefuen-title;
     color: white;
     font-size: 26px;
  text-shadow: $brasom-img;
}
// lista dentro de navegador politicas
.dropdown-item{
    font-family: $tefuen-title;
}
// Titulos
h1{
    font-family: $tefuen-title;
}
// Subtitulos
h2{
    font-family: $tefuen-title;
    font-size: 26px;
  color: #000000;
}
// Trabajos
h3{
    font-family: $tefuen-title;
    font-size: 22px;
}
// Equipo Ceo 
h4{
    font-family: $tefuen-title;
    font-size: 20px;

}
// Parrafos 
p{
    font-family: sans-serif;
    font-size: 20px;
}
.borde__icono__playstore h2{
    color: white;
}

.juegos__bloque__texto{
 text-decoration: underline ;
 color: black;
 font-size: 16px;   
}
.listas__politicas{
    font-family: $tefuen-text;
    font-size: 20px;
    list-style: lower-roman;

}