
#index__p{
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family:$tefuen-title;  
}
.navbar{
  font-family: $tefuen-title;  
  

}
h2 {
  // font-family:$tefuen-title;
  font-size: 26px;
  color: #000000;
}
.imagen__derecha__imagen {
  /*contenedor de las imagenes hijo */
 width: 100px;
  border: 1px solid white;
}

.imagen__derecha__imagen__1 {
  width: 200px;
  border-radius: 5px;

   box-shadow: 3px 5px rgba(0, 0, 0, 0.783);
}

.imagen__derecha__imagen__1:hover {
  width: 230px;
}

.imagen__derecha__imagen__2 {
  grid-area: imagen2;
  width: 200px;
  border-radius: 5px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.783);
}

.imagen__derecha__imagen__2:hover {
    width: 230px;
}

.imagen__derecha__imagen__3 {
  grid-area: imagen3;
  width: 200px;
  border-radius: 5px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.783);
}

.imagen__derecha__imagen__3:hover {
  width: 230px;
}

.imagen__derecha__imagen__4 {
  grid-area: imagen4;
  width: 200px;
  border-radius: 5px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.783);
}
.imagen__derecha__imagen__4:hover {
  width: 230px;
}