.fondo {
  background: url("../imagenes_inicio/fondo.jpeg");
  background-repeat: round;
  
}
#index__p {
  color: rgb(0, 0, 0);
  font-size: 16px;
}
.imagen__derecha__imagen {
  width: 100px;
  border: 1px solid white;
}
.imagen__derecha__imagen__1 {
  width: 200px;
  border-radius: 5px;

  box-shadow: $brasom-img;
}
.imagen__derecha__imagen__2 {
  width: 200px;
  border-radius: 5px;
  box-shadow: $brasom-img;
}

.imagen__derecha__imagen__3 {
  width: 200px;
  border-radius: 5px;
  box-shadow: $brasom-img;
}

.imagen__derecha__imagen__4 {
  width: 200px;
  border-radius: 5px;
  box-shadow: $brasom-img;
}
