.carousel-item {
  grid-area: imagen;
}
/* JUEGOS */
.juegos__titulo {
  color: rgb(0, 0, 0);
  font-size: 24px;
 
}

.juegos__bloque__texto {
  width: auto;
  font-size: 20px;
}

.juegos__subtitulo {
  grid-area: subtitulo;
  color: rgb(105, 105, 105);
  
}

.nav-link {
  font-size: 26px;
  color: #000000;
  text-shadow: 1px 2px 0px #00000054;
}

#footer2 {
}

