//   el color de fondo de la barra 
.navbar {
  background-color: #000000;
}

//   recuadro del texto en index 
#juegos__titulo2 {
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 10px;
  box-shadow: 3px 3px #00000094;
}

//   el recuadro del texto del juego en juegos
#juegos__icono__playstore {
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 10px;
  box-shadow: 3px 3px #0000006e;
}

// el fondo del recuadro del icono del playstore de un juego
.borde__icono__playstore {
  background-color: #000000e2;
  border-radius: 10px;
  box-shadow: 3px 3px #0000006e;

  a {
    text-decoration: none;

  }



}

.borde__icono__playstore :hover {

  background-color: green;
  border-radius: 10px;

  box-shadow: 3px 3px #0000006e;

  img {
    box-shadow: none;
  }

}

//   el fondo del recuadro de las imagenes del equipo
.recuadro__imagen__equipo {
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
}

// el fondo de cada una de las politicas
.recuadro__politicas {

  margin-bottom: 15px;
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
}

// el recuadro del formulario 
.recuadro__formulario {

  background-color: #000000ef;
  border-radius: 10px;
}