body{
    background-image: url("/imagenes_inicio/fondo__inicio.jpeg") ;
    background-repeat: round;
  
  }
//   el color de fondo de la barra 
.navbar{
    background-color: #000000; 
}
//   recuadro del texto en index 
  #juegos__titulo2{
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 10px;
    box-shadow: 3px 3px #00000094;
  }
//   el recuadro del texto del juego en juegos
  #juegos__icono__playstore{
    background-color: rgba(255, 255, 255, 0.801);
border-radius: 10px;
box-shadow: 3px 3px  #0000006e  ;
}
// el fondo del recuadro del icono del playstore de un juego
.borde__icono__playstore{
    background-color: #000000e2;
    border-radius: 10px;
    box-shadow: 3px 3px  #0000006e ;
  }