.fondo {
  background: url("../imagenes_inicio/fondo.jpeg");
  background-repeat: round;
}

.imagen__derecha__imagen {
  width: 100px;
  border: 1px solid white;
}

.imagenes__principal {
  width: 200px;
  border-radius: 5px;
  box-shadow: $brasom-img;
}




