* {
  margin: 0;
  padding: 0;
}


@media (min-width: 992px) {

  .header {

    animation-name: fondo__abajo;
    animation-duration: 1s;
    animation-iteration-count: initial;
    background: linear-gradient(0deg, #000000, #232222, #151212);
    /* background-size: 400% 400%; */
    /* animation: fondo 15s ease infinite; */
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1.5fr 1fr 0.5fr 0.1fr;
    grid-template-areas:
      " icono   video  nada"
      " titulo  video  nada"
      "titulo pagina nada "
      "nade nade nade";
    grid-gap: 20px 120px;
    align-items: center;
    margin-bottom: 20px;
    /* place-content: center;   */

    /* justify-content: space-between; */
    /* border: 2px solid rgb(255, 0, 0); */
     height: auto;
     /* width: 45%; */
    /* background-color: rgb(0, 0, 0); */
    box-shadow: 0px 0px 50px rgb(0, 0, 0);

  }
  @keyframes fondo__abajo {
    from{
      margin-top: -200%;
    }
    to{
      margin-top: 0%;
    }
  }

  @keyframes fondo {
    0% {
      background-position: 50% 0%;
    }

    50% {
      background-position: 50% 100%;
    }

    100% {
      background-position: 50% 100%;
    }

  }

  .icono {
    grid-area: icono;
    /* width: 160px; */
    box-shadow: 0px 0.5px 15px rgba(255, 255, 255, 0.125);
    margin: 0px 150px;
  animation-name: icono;
  animation-duration: 1.5s;
  animation-iteration-count: initial;
  }
@keyframes icono {
  from{
    /* transform: scale(.5); */
transform: rotate(360deg);
/* transform: scale(.0); */
  }
  50%{
    /* transform: scale(.7 ); */
    
  }
  75%{
    /* transform: rotate(-80deg); */
    
  }
  to{
    
    /* transform: scale(1.0 ); */
    transform: rotate(0deg);
    
  }
}
  .mensaje__bloque {
    background-color: rgba(255, 68, 0, 0);
    border-radius: 5px;
    grid-area: titulo;
    margin: 0px 35px;
    text-align: center;
  }

  .mensaje__titulo {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 95px;
    animation-name: titulo ;
    animation-duration: 1.5s;
    animation-iteration-count: initial;

    font-family: "asd";
    text-shadow: 0px 4px rgba(255, 0, 0, 0.582);
  }

  @keyframes titulo {
    from{
      margin-left: -350%;

    }
    to{
      margin-left: 0%;
    }
  }


  .video__video {
    grid-area: video;
    width: auto;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.829); */
    border-radius: 5%;
    border: 1px solid white;
    margin-top: 15px;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.652);
animation-name: video;
animation-duration: 1.5s;
animation-iteration-count: initial;

  }
  @keyframes video {
    from {
      margin-top: -250%
    }
    to {
      margin-top: 15px
      
    }
  }

  .pagina__bloque__relleno{
    grid-area: pagina;
    background-color: orangered;
    width: auto;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.732);
  height: 100%;
  border-radius: 5px;
  animation-name: pagina__bloque__relleno; 
  animation-duration: 1.2s;
  animation-iteration-count: initial;
  animation-delay: 0.3s;
  
}
  @keyframes pagina__bloque__relleno {
    from{
      opacity:0;
    }
    75%{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .pagina__bloque {
    text-align: center;
    grid-area: pagina;
    color: white;
    font-size: 36px;
z-index: 1;
    font-family: "asd";
    /* background-color: orangered; */
    /* width: auto; */
  animation-name: pagina__bloque;
  animation-duration: 1.2s;
  animation-iteration-count: initial;
}
  @keyframes pagina__bloque {
    from {
      margin-right: -1000% ;
    }
    to {
      margin-right: 0% ;
      
      
    }
  }

  .lista__bloque {
    right: 5%;
    top: 5%;
    position: fixed;
    z-index: 2;

    /* border: 1px solid white; */
  }

  .lista__textos {
    font-family: "asd";
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    list-style: none;
    display: inline-block;
    /* padding-inline-start: 5px 10px; */
    text-decoration: none;
    font-size: 25px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.712);
    width: auto;
    border-radius: 5%;
    background-color: rgb(255, 11, 11);
    box-shadow: 0px 3px rgba(0, 0, 0, 0.479);
    border-bottom: 1px solid white;
  }

  .lista__textos :hover {
    color: orangered;
  }
  /* ANIMACIONES DE LA LISTA DEL HEADER  */
  .lista__inicio{
    animation-name: lista__inicio;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
  }
  @keyframes lista__inicio {
    from{
      margin-top: -2000px;
    }
    to{
      margin-top: 0px;
    }
    
  }


}

.bloque__izquierda {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 0.7fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 100px 0.5fr 230px 50px;
  gap: 7px 20px;
  grid-template-areas:
    "noticia imagen1 imagen2 imagen3 imagen4"
    "fecha imagen1 imagen2 imagen3 imagen4 "
    "texto imagen1 imagen2 imagen3 imagen4 "
    " footer footer footer footer footer";
  justify-items: center;
  align-items: center;
  background-color: #ffffff;

  /* border: 1px solid white; */
}

.noticia__bloque {
  grid-area: noticia;
  background-color: rgb(245, 16, 0);
  border-radius: 15px;
  margin-bottom: 0%;
  margin-left: 5%;
  border-bottom: 3px groove gray;

  /* border: 1px solid white; */
}

.noticia__titulo {
  font-family: "asd";
  text-align: center;
  text-shadow: 0px 3.5px rgba(0, 0, 0, 0.708);
  color: white;

  /* border: 1px solid white; */
}

.fecha__bloque {
  grid-area: fecha;
  background-color: rgba(141, 141, 141, 0.685);
  border-radius: 5px;
  margin-top: 0%;
  border-bottom: 3px groove gray;


  /* border: 1px solid white; */
}

.fecha__texto {
  color: rgba(255, 255, 162, 0.966);
  text-align: center;
  font-family: "asd";
  font-size: 12px;
  padding: 10px;
  text-shadow: 0px 1px black;
}

.parrafo__bloque {
  grid-area: texto;
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 15px;
  border-bottom: 3px groove gray;
  text-align: center;
  margin-top: 25px;
  margin-left: 5%;
  /* border: 1px solid white; */
}

.parrafo__texto {
  font-family: "asd";
  color: whitesmoke;
  padding: 5px;
  font-size: 17px;
  /* height: 125px; */
}

.imagen__derecha__imagen {
  /*contenedor de las imagenes hijo */

  width: 100px;
  border: 1px solid white;
}

.imagen__derecha__imagen__1 {
  width: 200px;
  border-radius: 5px;

  grid-area: imagen1;
  /*primera imagen */
  /* order: 4; */
  box-shadow: 3px 5px rgba(0, 0, 0, 0.783);
}

.imagen__derecha__imagen__1:hover {
  width: 230px;
}

.imagen__derecha__imagen__2 {
  grid-area: imagen2;
  width: 200px;
  border-radius: 5px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.783);
}

.imagen__derecha__imagen__2:hover {
  width: 230px;
}

.imagen__derecha__imagen__3 {
  grid-area: imagen3;
  width: 200px;
  border-radius: 5px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.783);
}

.imagen__derecha__imagen__3:hover {
  width: 230px;
}

.imagen__derecha__imagen__4 {
  grid-area: imagen4;

  /*cuarta imagen*/
  /* order: 1; */
  width: 200px;
  border-radius: 5px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.783);
}

.imagen__derecha__imagen__4:hover {
  width: 230px;
}


/* POLITICAS */
/* AGARRA TODO EL BLOQUE */
.politicas__bloque {
  width: 50%;
  margin: 5px 330px;
  text-align: center;
}


.politicas__texto__listas li {
  list-style-type: georgian;
  padding: 5px 15px;
  list-style-position: inside;
}

.politicas__todo {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: auto;


  place-content: center;
  gap: 5px;

  background-color: rgb(255, 255, 255);

  /* border: 5px solid rgb(89, 0, 255); */
}

/* el subtitulo  */
.politicas__texto h2 {
  color: white;
  font-size: 16px;
  font-family: "asd";
  /* border: 1px solid black; */
}

/* el texto  */
.politicas__texto {
  margin-top: 5px;
  margin-bottom: 5px;

  /* display: flex; */
  border-top: 2px solid rgb(52, 52, 52);
  border-left: 2px solid rgb(52, 52, 52);
  border-right: 2px solid rgb(52, 52, 52);
  color: white;
  text-align: center;
  /* margin-left: 25%; */
  /* margin-top: 2%; */
  /* width: 50%; */
  padding: 5px;
  font-size: 13px;
  background-color: rgb(97, 97, 97);
  box-shadow: 0px 5px rgba(0, 0, 0, 0.859);
  border-radius: 3px;
  font-family: "asd";
}

.politicas__desplegable {
  display: inline-block;
  position: relative;
}

.politicas__desplegable__opciones {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10 px 0px black;
}

.politicas__desplegable:hover .politicas__desplegable__opciones {
  display: block;
}

.politicas__desplegable__opciones a {
  display: block;
  color: #000000;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  width: auto;
  font-family: "asd";
}

.politicas__desplegable__opciones a:hover {
  color: #ffffff;
  background-color: #a5a5a5;
}

/* JUEGOS */

#juegos__bloque__runner {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 15% 25% 35%;
  grid-template-rows: 15% 40% 10%;
  /* border: 1px dashed white; */
  grid-template-areas:
    "icono1 titulo  imagen"
    "icono1 texto  imagen"
    "icono1 subtitulo imagen";
  /* place-items: center; */
  place-content: center;

  /* gap: 5% 0%; */
}

#juegos__bloque__fantasma {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 20% 25% 25%;
  grid-template-rows: 15% 70%;
  /* border: 1px dashed white; */
  grid-template-areas:
    "titulo nada  imagen"
    "texto icono1  imagen";
  /* place-items: center; */
  place-content: center;

  /* gap: 5% 0%; */

}

#juegos__bloque__cuadro {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 20% 25% 25%;
  grid-template-rows: 15% 70%;
  /* border: 1px dashed white; */
  grid-template-areas:
    "titulo nada  imagen"
    "texto icono1  imagen";
  /* place-items: center; */
  place-content: center;

}

.juegos__bloque__titulo {
  grid-area: titulo;
  /* background-color: green; */
  /* margin: 5px 5px; */
  border-radius: 15px;
  text-align: center;
}

.juegos__titulo {
  color: rgb(0, 0, 0);
  text-align: start;
  padding: 5px;
  font-size: 24px;
  margin-top: 7px;
  font-family: "asd";
}
.juegos__subtitulo{
  grid-area: subtitulo;
  color: rgb(105, 105, 105);
  font-family:sans-serif;
  text-align: start;
  margin-top: 7px;
}

.juegos__bloque__texto {
  grid-area: texto;
  background-color: #ffffff;
  border-radius: 15px;
  width: auto;
  text-align: start;
  height: 150px;
}

.juegos__bloque__texto p {
  font-family: "asd";
  color: rgb(0, 0, 0);
  padding: 5px 5px;
  text-align: start;
}

.juegos__icono__playstore {
  /*este es el padre, estan mal los nombres*/
  grid-area: icono1;
  /* text-align: ; */
  /* align-content: center; */
  /* justify-content: center; */
  border-radius: 50px;
  margin-top: 8px;
  /* margin-top: -125px; */

  /* border: 1px dashed white; */
}


.juegos__portada {
  grid-area: imagen;
  /* justify-items: center;
  align-items: center; */

  /* margin-bottom: 5px; */
  justify-content: center;
  /* align-content: center; */
  place-content: center;
  margin-top: 5%;
  margin-left: 20%;
  /* transform: skew(0deg, -8deg); */
  /* transform: perspective(8px);  */
  border: 1px dashed rgb(255, 0, 0);

}
@keyframes corre {
0%{

}  
}
/* .juegos__portada {
  } */
/*CONTACTO*/

.form__bloque {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 1.5fr 1.5fr 1.5fr 1.5fr;
  /* background-color: red; */
  border-radius: 2%;
  /* gap: 5% 2%; */
  /* border-color: white; */
  /* border: 2px solid white; */
  grid-template-areas:
    "tema mensaje"
    "nombre mensaje"
    "email mensaje"
    "boton boton";
  place-content: center;
  /* align-items: center; */
  /* margin-top: 5px; */
  /* text-align: center; */
  width: auto;
  
  height: 300px;

}

/* .form__nya__bloque {
    text-align: center;
  } */
.form__tema {
  grid-area: tema;
  border-radius: 5px;
  /* width: auto;
    height: auto; */
  padding: 2%;
  margin: 5px 5px;
}

.form__nombre {
  grid-area: nombre;
  /* text-align: start;  */
  /* width: auto; */
  /* height: auto; */
  border-radius: 5px;

  padding: 2%;
  margin: 5px 5px;
}

/* .form__nya__bloque {
    text-align: center;
  } */
/* .form__checkbox {
    text-align: center;
    color: white;
  } */
/* .form__texto__bloque {
    text-align: center;
    padding: 15px;
  } */
.form__email {
  border-radius: 5px;

  grid-area: email;
  /* height: auto;
    width: auto; */
  padding: 2%;
  margin: 5px 5px;
}

.form__texto {
  grid-area: mensaje;
  /* width: auto;
    height: auto; */
  padding: 0% 2%;
  font-size: 20px;
  text-align: start;
  border-radius: 5px;

  margin: 5px 5px;
}
.form__botones__submit{
  grid-area: boton;
  width: 240px;
  height: auto;
  pad: 0% 2%;
  margin-left: 39%;
  border-radius: 5px;
  
/* margin: 5px 5px; */
/* text-align: center; */
}
.form__botones__submit :hover{
  
  color: rgb(255, 0, 0) !important;
}

/* .form__email__bloque {
    border: 1px dashed white;
    text-align: center;
    margin: 0px 5px;
  } */
  /* .form__botones {
  text-align: center;
    padding: 5px;
  }
  .form__botones__submit {
    width: 100px;
    height: 50px;
    padding: 2%;
  }
  .form__botones__reset {
    width: 100px;
    height: 50px;
    padding: 2%;
  } */

/*EQUIPO*/

.equipo__bloque {
  border: 1px dashed white;
  width: auto;
  height: 500px;
  padding: 20px;
  text-align: center;
}

.equipo__subbloque__arriba {
  margin: 0px auto;
  width: 700px;
  height: 200px;
  border: 1px dashed red;
  text-align: center;
}

.equipo__subbloque__abajo {
  margin-top: 100px;
  margin: 0px auto;
  width: 700px;
  height: 200px;
  border: 1px dashed red;
  text-align: center;
}

.equipo__imagen {
  display: inline-block;

  border: 1px dashed white;

  margin-top: 25px;
  margin-left: 25px;
  width: 150px;
  height: 150px;
}
/* .pie__bloque{ */

/* } */
.lista__footer {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
 margin-top: 20px;
  /* justify-content: space-around; */

  /* border: 1px solid white; */
  height: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  list-style: none;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

.lista__footer__items {
  font-size: 29px;
  margin: 0px 20px;
  font-family: "asd";
  margin: 1%;
}
#footer1 {
  flex: 0 1 auto;
  color: rgb(0, 0, 0);
  margin: 1% 1%;
}
#footer2 {
  flex: 1 1 auto;
  
}
/* #footer3{ */
  /* flex: 0 1 auto; */
/* } */
/* #footer4{ */
  /* flex: 0 1 auto; */
/* } */
/* #footer5{ */
  /* flex: 0 1 auto; */
  
/* } */
/* #pie__imagen {
  background-repeat: repeat-x;
  background-origin: content-box;
  width: 4%; */

.pie__texto {
  font-family: "asd";
  /* z-index: 2; */
  /* text-align:  justify; */
  font-size: 33px;
  color: rgb(255, 255, 255);
  padding: 3px;
  text-decoration: none;
  text-transform: none;
}

/* aca estan las tipografias */
@font-face {
  font-family: "asd";
  src: url(/font/kiwi_days/Kiwi\ Days.ttf);
  font-style: normal;
}